#root {
    background-color: rgb(80, 160, 235);
    height: 100vh;
}

main {
    background-color: rgb(80, 160, 235);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-link, .nav-link:visited {
    color: white !important;
}

.nav-link:hover {
    color: lightgray !important;
}

.nav-link.active {
    font-weight: 900;
    text-decoration: underline;
}

.nav li:first-child .nav-link {
    padding-left: 0;
}

.card {
    cursor: pointer;
}

.d-flex {
    gap:3rem;
}

.link-button {
    color: blue !important;
    border: 0;
    background: none;
}

.election_filter-category {
    display: flex;
    justify-content: right;
}

.election_filter-label {
    margin-right: 1rem;
}

.election Row {
    border: 1px black;
}

.election, .election .card {
    cursor:auto;
}

.election_body-candidate {
    width: 15rem;
}

.new-election-candidate, .new-election-candidate-plus {
    position: relative;
    width: 15.5rem;
}

.new-election-delete-candidate {
    position: absolute;
    top: 2px;
    right: 12px;
    cursor: pointer;
    color: rgb(233, 233, 233);
}

.new-election-delete-candidate:hover {
    color: red;
}

.score-bg {
    background-color: rgb(151, 183, 230);
}

.score {
    height: 25px;
    background-color: rgb(13, 110, 253);
    text-align: center;
    line-height: 25px;
}

#new-election-title {
    /* padding: 1em; */
    font-size: xx-large !important;
    padding: 0;
    /* line-height: 50px; */
}

#new-election-title::placeholder {
    /* font-size: xx-large !important; */
    /* font-weight: 600; */
    /* color: black; */
}
