.idea
README.md
Dockerfile
.gitignore

target/archive-tmp
target/election-ttl.jar.original
target/election-ttl-jar-with-dependencies.jar
target/generated-sources
target/maven-archiver
target/maven-status
target/test-classes
src
pom.xml