.idea
README.md
Dockerfile
.gitignore

target/archive-tmp
target/vote-integrity-jar-with-dependencies.jar
target/vote-integrity.jar.original
target/generated-sources
target/maven-archiver
target/maven-status
target/test-classes
src
pom.xml